{{ section("Role", include_required(".jlo/roles/innovators/" ~ role ~ "/role.yml")) }}
{{ section("Layer Contracts", include_required(".jules/roles/innovators/contracts_" ~ phase ~ ".yml")) }}
{{ section("Persona Perspective", include_optional(".jules/exchange/innovators/" ~ role ~ "/perspective.yml")) }}
{{ section("Current Idea", include_optional(".jules/exchange/innovators/" ~ role ~ "/idea.yml")) }}
{{ section("Change Summary", include_optional(".jules/exchange/changes.yml")) }}
