{{ section("Layer Contracts", include_required(".jules/layers/innovators/contracts.yml")) }}
{{ section("Role", include_required(".jlo/roles/innovators/" ~ role ~ "/role.yml")) }}
{{ section("Task", task) }}
{{ section("Workstation Perspective", include_required(".jules/workstations/" ~ role ~ "/perspective.yml")) }}
