  publish-proposals:
    needs: [check-schedule, wait-after-innovators-2]
    if: |
      always() &&
      fromJSON(needs.check-schedule.outputs.json).run_publish_proposals == true &&
      (needs.wait-after-innovators-2.result == 'success' || needs.wait-after-innovators-2.result == 'skipped')
    runs-on: {{ runner }}
    timeout-minutes: 30
    env:
      GH_TOKEN: {{ gha_expr("secrets.JLO_BOT_TOKEN") }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: '{{ worker_branch }}'
          fetch-depth: 0
          token: {{ gha_expr("secrets.JLO_BOT_TOKEN") }}

      - name: Configure Git
        uses: ./.github/actions/configure-git

      - name: Install jlo
        uses: ./.github/actions/install-jlo

      - name: Publish proposals
        run: jlo workflow workspace publish-proposals
