  check-schedule:
    needs: wait-after-narrator
    if: |
      always() &&
      ((vars.JLO_PAUSED || 'false') != 'true' || github.event_name != 'schedule') &&
      (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || github.event_name == 'workflow_call') &&
      (needs.wait-after-narrator.result == 'success' || needs.wait-after-narrator.result == 'skipped')
    runs-on: {{ runner }}
    timeout-minutes: 10
    outputs:
      json: {{ gha_expr("steps.check.outputs.json") }}
    steps:
      - name: Check schedule
        id: check
        run: |
          echo 'json={"should_run":true}' >> "$GITHUB_OUTPUT"
