name: Run Linters

on:
  workflow_call:

jobs:
  run-linters:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.1.7

      - name: Setup Rust Environment
        uses: ./.github/actions/setup
        with:
          components: rustfmt,clippy

      - name: Run Linters
        run: |
          cargo fmt --check
          cargo clippy --all-targets --all-features -- -D warnings
        shell: bash
