name: Run Linters

on:
  workflow_call:

jobs:
  run-linters:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup Rust Environment
        uses: ./.github/actions/setup
        with:
          components: rustfmt,clippy

      - name: Install jlo
        run: cargo install --path .
        shell: bash

      - name: Install aqua
        uses: aquaproj/aqua-installer@v2

      - name: Install aqua packages
        run: aqua i
        shell: bash

      - name: Render workflow kit
        run: |
          jlo workflow render remote --output .tmp/workflow-kit-render/remote --overwrite
          jlo workflow render self-hosted --output .tmp/workflow-kit-render/self-hosted --overwrite
        shell: bash

      - name: Run actionlint
        run: |
          aqua exec -- actionlint .tmp/workflow-kit-render/remote/.github/workflows/*.yml
          aqua exec -- actionlint .tmp/workflow-kit-render/self-hosted/.github/workflows/*.yml
        shell: bash

      - name: Run Linters
        run: |
          cargo fmt --check
          cargo clippy --all-targets --all-features -- -D warnings
        shell: bash
